.grid-container {
    display: inline-grid;
    width: 40%;
    margin: 1% 0 0 25%;
    color: white;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-gap: 5px;
    background-image: url(https://i.pinimg.com/originals/0a/47/9d/0a479da74437beaee61d97fc3498323e.jpg);
    padding: 0.4%;
    border: solid 5px rgb(40, 146, 245);
    border-radius: 10%;
 }
.grid-container > div {
text-align: center;
align-content: center;
padding: 3% 3%;
font-size: 18px;
}
.item1 {
    grid-area: 1 / 1 / 2 / 2;
    border-top-left-radius: 40%;
}
.item2 {
    grid-area: 1 / 2 / 1 / 5;
}
.item2 h1 {
    font-size: xx-large;
    font-style: italic;
    color: white;
}
.item3 {
    grid-area: 1 / 5 / 1 / 6;
    border-top-right-radius: 40%;
}
.item4 {
    grid-area: 2 / 1 / 5 / 2;
}
.item5 {
    grid-area: 2 / 2 / 5 / 5;
}
.item6 {
    grid-area: 2 / 5 / 5 / 6;
}
.item7 {
    grid-area: 5 / 1 / 8 / 2;
}
.item8 {
    grid-area: 5 / 2 / 8 / 5;
}
.item8 h4 {
    font-style: italic;
    font-size: large;
    color: white;
}
.item9 {
    grid-area: 5 / 5 / 8 / 6;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}


/* Build Sidebar Menu */
.menu ul {
    list-style-type: none;
    margin: 75% 0 0 0;
    padding: 0;
    padding-right: 2%;
    }
    
.menu li {
    padding: 5%;
    width: 100%;
    margin: 8% 0 14% 9%;
    text-align: center;
    font-size: small;
    border: 1px white solid;
    border-radius: 20%;
    background-color: rgb(40, 146, 245);
    color: white;
    box-shadow: 5px 5px 5px white;
    }
    
.menu li:hover {
    background-color: #3accc0;
    box-shadow: 5px 5px 5px blueviolet;
    }

/* Build Attribute Scores table */
* {
    box-sizing: border-box;
    }

table {
    border-collapse: collapse;
    border: solid 4px rgb(40, 146, 245);
    width: 100%;
    margin-left: 1%;
}
table.AttributeTable {
    border: solid 4px white;
    border-radius: 10%;
    background-color: none;
    text-align: center;
    max-height: 150px;
    display: inline-block;
    overflow-y: scroll;
}
table.AttributeTable::-webkit-scrollbar {
    visibility: hidden;
}
table.AttributeTable td {
    border: 1px dotted white;
    padding: 3px 2px;
}
table.AttributeTable tbody td {
    font-size: medium;
    overflow-y: auto;
}
table.AttributeTable thead {
    background: -moz-linear-gradient(white,rgb(233, 48, 63) );
    background: -webkit-linear-gradient(white,rgb(233, 48, 63) );
    background: linear-gradient(white,rgb(233, 48, 63) );
    position: sticky;
    top: 0; 
}
table.AttributeTable thead th {
    font-size: smaller;
    font-weight: bold;
    color: black;
    text-align: center;
    border-left: 2px solid black;
    position: sticky;
    top: 0; 
}
table.AttributeTable tbody tr:hover {
    background-color: rgb(60, 60, 250);
}
table.TendencyTable {
    border: solid 4px rgb(233, 48, 63);
    border-radius: 10%;
    background-color: none;
    text-align: center;
    max-height: 100px;
    display: inline-block;
    overflow-y: scroll;
}
table.TendencyTable::-webkit-scrollbar {
    visibility: hidden;
    width: 10px;
}
table.TendencyTable td {
    border: 1px solid white;
    padding: 3px 2px;
    display: block;
}
table.TendencyTable tbody td {
    font-size: small;
}
table.TendencyTable thead {
    background: -moz-linear-gradient(white,rgb(233, 48, 63) );
    background: -webkit-linear-gradient(white,rgb(233, 48, 63) );
    background: linear-gradient(white,rgb(233, 48, 63) );
}
table.TendencyTable thead th {
    font-size: medium;
    font-weight: bold;
    color: white;
    text-align: center;
    border-left: 2px solid black; 
}
table.TendencyTable tbody tr:hover {
    background-color: rgb(40, 221, 245);
}

td {
    padding: 2px;
    text-align: left;
    border-bottom: 2px solid white;
    font-size: smaller;
    color: white;
}


/* Build out Image properties for Logos */
img {
    width: 98%;
    padding: 1% 1% 1% 1%;
    margin-top: 5%;
    height: auto;
    background-size: contain;
}
[title~=company_logo] {
    margin: 60% 0 0 2%;
    border-radius: 25%;
    border: 2px white inset;
    box-shadow: 3px 3px 3px grey;
} 